* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-head {
  text-align: center;
  margin: 20px 0;
}

.bar {
  width: 10px;
  height: 1px;
  border: 4px solid black;
}
