* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.sign-head {
  text-align: center;
  margin: 20px 0;
}

.bar {
  width: 70px;
  height: 1px;
  border: 3px solid black;
}

.bar1 {
  border-color: #6c757d;
}
.bar2 {
  border-color: #037bfe;
}
.bar3 {
  border-color: #28a744;
}
.bar4 {
  border-color: #ff0100;
}

.card-text {
  padding: 0;
}

.card-text li {
  margin: 20px 0;
  color: #dcdddc;
}

.card-text li:last-child {
  margin: 0;
}

.card-text1 li:first-child {
  color: #c4caca;
}
.card-text2 li:nth-child(1),
.card-text2 li:nth-child(2) {
  color: #95cfff;
}
.card-text3 li:nth-child(1),
.card-text3 li:nth-child(2),
.card-text3 li:nth-child(3) {
  color: #abe1e3;
}
.card-text4 li {
  color: #edd3e6;
}

.dollar {
  font-size: 24px;
  font-weight: bold;
  padding-right: 15px;
}

.btn-radius {
  border-radius: 22px;
}
